<!--
<%
#require 'koala'

#@oauth = Koala::Facebook::OAuth.new('635457879887599', 'c41e31decaab2f5226961f65f567e8e9')
#p @oauth

#@graph = Koala::Facebook::API.new(@oauth)

#profile = @graph.get_object("me")


%>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1594605847423709',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
-->

<!-- Header -->
  <section id="header">
    <video class="bg" src="videos/v2.mp4" autoplay poster="img/pic02.jpg"></video>
    <header class="major">
      <h1>Inicio</h1>
      <p>Explicar motivacion del proyecto , etc</p>
    </header>
    <div class="container">
      <ul class="actions">
        <li><a href="#one" class="button special scrolly" onclick="$('#one video')[0].play()">Comenzar !!</a></li>
      </ul>
    </div>
  </section>

  <section id="one" class="main special">
    <div class="container">
      <!--<span class="image fit primary"><img src="images/pic01.jpg" alt="" /></span>-->
      <video class="bg" src="videos/v1.mp4"  poster="img/pic02.jpg"></video>
      <div class="content">
        <header class="major">
          <h2>Elegis</h2>
        </header>
        <p> Elegir 5 tematicas que cree mas importantes </p>

        <div id="temas" >
          <% @data.each do |d|%>
            <div class="row" id="<%= d['id']%>">
              <div class="2u box" style="height:100%; ">
                <i class="fa fa-search-plus" style="font-size: 14px; float: left; padding: 5px;" onclick="expandir('<%=d['id']%>', '<%=d['desc']%>');  if(event.stopPropagation){event.stopPropagation();} event.cancelBubble=true;"></i>
              </div>
              <div class="9u box" onclick="$(this).toggleClass('selected');">
                  <%= d['name']%>
                  <p class="text_content"></p>
              </div>

          </div>
          <% end%>
        </div>

      </div>
      <a class="button" onclick="return go_paso1()">Continuar</a>
    </div>
  </section>

<script charset="utf-8">
  function expandir(id, text)
  {
    $('#temas .box').animate({height: '40px'});
    $('#temas .box').children('.text_content').html('');
    $('#'+id).children('.box').animate({height: '150px'});
    $('#'+id+' >> .text_content').html(text);

  }

  function go_paso1(){
    selected = $('#temas').children('.noselected');
    params = $.map(selected, function(x){return x.id});
    if(params.length < 4)
    {
        alert('Seleccione al menos 4 caracteristicas')
        return;
    }
    console.debug(params);
    window.location = 'paso1?selected='+params;
  }
</script>
