<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1594605847423709',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/es_AR/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
test

<!--
  <div class="vid-wrapper"><video class="video-player" preload="auto"><source src="https://s3.amazonaws.com/webapps.esri.com/videos/66052_AGPlatform_PlanningAnalysis_v06.mp4" type="video/mp4"><source src="https://s3.amazonaws.com/webapps.esri.com/videos/66052_AGPlatform_PlanningAnalysis_v06.webm" type="video/webm"></video></div>
-->
  <section id="one" class="main special">
    <div class="container">
      <%
      @graph = Koala::Facebook::API.new(session['access_token'])
      @profile = @graph.get_object("me")
      @friends = @graph.get_connections("me", "friends")
      p @profile
      p @friends

      %>


      <div class="content">
        <header class="major">
          <h2>Gracias <%= @profile['name'] %> por Participar.</h2>
        </header>
        <p>Tu opinion y tu voto son esenciales para tener la provincia que nos merecemos los bonaereneses.</p>
        <p>Compara tu resultado!!!</p>
        <div id="grafico">
          <div class="box">
            <p>Tu Resultado</p>
            <%= pie_chart TemasSeleccionado.group(:tema).count, height: "100px"  %>
          </div>
          <div class="box">
            <p>La valoracion que le dieron todos los que participaron</p>
            <%= pie_chart TemasSeleccionado.group(:tema).sum('11 - orden'), height: "100px"  %>
          </div>
        </div>

      </div>

        <% @friends.each do |f| %>
        <div class="">
        <p>Resultado de <%= f['name'] %></p>
      </div>
        <% end %>

        <script charset="utf-8">
        FB.api('/me', {fields: 'last_name'}, function(response) {
          console.log(response);
        });

        function test(){
        FB.ui({
          method: 'feed',
          //link: 'http://local.myapp.com:9292/incio',
          caption: $('#grafico').text(),
          }, function(response){});
        }
        </script>
        <button onclick="test()">Compartir</button>

      </div>
    </div>
  </section>
