<!--
  <div class="vid-wrapper"><video class="video-player" preload="auto"><source src="https://s3.amazonaws.com/webapps.esri.com/videos/66052_AGPlatform_PlanningAnalysis_v06.mp4" type="video/mp4"><source src="https://s3.amazonaws.com/webapps.esri.com/videos/66052_AGPlatform_PlanningAnalysis_v06.webm" type="video/webm"></video></div>
-->
  <section id="one" class="main special">
    <div class="container">
      <div class="content">
        <p>Los temas que Seleccionaste son</p>

        <div id="temas">
            <% @data.each do |d|%>
              <h1 id="<%= d['id'] %>" style="color:<%= d['color']%>;"><%= d['name'] %></h1>
            <% end%>
        </div>
        <p><br>
        <h1>Votaria al Candidato Julian Dominguez?</h1>
        <a class="button special ">Si</a>
        <a class="button special ">Tal vez</a>
        <a class="button special ">No</a>
      </div>
      <a class="button" onclick="go_paso3()">Continuar</a>
      <p><br>
      <p>Conozca mas de Julian y el grupo San Martin</p>
      <a href="www.juliandominguez.com.ar" >Web Oficial de Julian</a><br>
      <a href="http://juliandominguez.com.ar/movimiento-san-martin/" >Web Oficial Grupo San Martin</a>
      
    </div>
  </section>

  <script language="javascript">

    function go_paso3(){
      selected = $('#temas > h1');
      params = $.map(selected, function(x){return x.id});
      console.debug(params);
      window.location = 'paso3?selected='+params;
    }

    </script>
