<!--
  <div class="vid-wrapper"><video class="video-player" preload="auto"><source src="https://s3.amazonaws.com/webapps.esri.com/videos/66052_AGPlatform_PlanningAnalysis_v06.mp4" type="video/mp4"><source src="https://s3.amazonaws.com/webapps.esri.com/videos/66052_AGPlatform_PlanningAnalysis_v06.webm" type="video/webm"></video></div>
-->
  <section id="one" class="main special">
    <div class="container">
          <div class="content">
        <p>El desafio es ordenar los temas que seleccionaste</p>
        <p>Mueve los temas ordenando segun la prioridad que te parezca mas importante</p>

        <div id="temas" class="row">
          <div class="2u">
            <% @data.count.times do |idx| %>
            <div class="number"><%=idx+1%></div>
            <% end %>
          </div>
          <div class="10u">

          <ul class="sortable">
            <% @data.each do |d|%>
              <li class="boxtemas" id="<%= d['id']%>" style="background-color:<%= d['color']%>;color:white;">
                <%= d['name'] %>
              </li>
            <% end%>
          </ul>
        </div>
      </div>

      </div>
      <a class="button" onclick="go_paso2()">Continuar</a>
    </div>
  </section>

<script language="javascript">
  $.ready =  function () {
    $('.sortable').sortable().bind('sortupdate', function() {
    });
  };


  function go_paso2(){
    selected = $('#temas li');
    params = $.map(selected, function(x){return x.id});
    console.debug(params);
    window.location = 'paso2?selected='+params;
  }

  </script>
