<!--
  <div class="vid-wrapper"><video class="video-player" preload="auto"><source src="https://s3.amazonaws.com/webapps.esri.com/videos/66052_AGPlatform_PlanningAnalysis_v06.mp4" type="video/mp4"><source src="https://s3.amazonaws.com/webapps.esri.com/videos/66052_AGPlatform_PlanningAnalysis_v06.webm" type="video/webm"></video></div>
-->
  <section id="one" class="main special">
    <div class="container">
      <video class="bg" src="videos/v3.mp4" autoplay  poster="img/pic02.jpg"></video>

      <div class="content">
        <header class="major">
          <h2>Prioriza</h2>
        </header>
        <p> Segun la prioridad que les das, los mas importantes arriba </p>

        <div id="temas" class="row">
          <div class="2u">
            <% @data.count.times do |idx| %>
            <div class="number"><%=idx+1%></div>
            <% end %>
          </div>
          <div class="10u">

          <ul class="sortable">
            <% @data.each do |d|%>
              <li class="box" id="<%= d['id']%>" >
                <%= d['name'] %>
              </li>
            <% end%>
          </ul>
        </div>
      </div>

      </div>
      <a class="button" onclick="go_paso2()">Continuar</a>
    </div>
  </section>

<script language="javascript">
  $.ready =  function () {
    $('.sortable').sortable().bind('sortupdate', function() {
    });
  };


  function go_paso2(){
    selected = $('#temas li');
    params = $.map(selected, function(x){return x.id});
    console.debug(params);
    window.location = 'paso2?selected='+params;
  }

  </script>
