
.sortable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.sortable.grid {
	overflow: hidden;
}
.sortable li {
	list-style: none;
	border: 1px solid #CCC;
	background: #F6F6F6;
	color: #1C94C4;
	margin: 5px;
	padding: 5px;
	height: 50px;
}

.sortable.grid li {
	line-height: 80px;
	float: left;
	width: 80px;
	height: 80px;
	text-align: center;
}
.handle {
	cursor: move;
}
.sortable.connected {
	width: 200px;
	min-height: 100px;
	float: left;
}
li.disabled {
	opacity: 0.5;
}
li.highlight {
	background: #FEE25F;
}
li.sortable-placeholder {
	border: 1px dashed #CCC;
	background: none;
}



.boxtemas
{

	border-radius: 5px;
	/*height:150px;
	vertical-align:middle;*/
	color:white;
	margin-bottom: .5em;
	padding: .5em;
  font-weight:bold;
}

.bl-content{
	border-radius: 5px;
	opacity: 0;
	position: absolute;
	/*
	pointer-events: none;top: 60px;
	left: 30px;
	right: 30px;
	bottom: 30px;*/
	padding: 0 20px;
	overflow: hidden;
	overflow-y: auto;
	background-color:green;
	color:white;
}

.propuestas
{
	padding: 20px;
	color:white;
	margin:15px;
	font-size:larger;
}

#temas .content{
	border: 2px black solid;
}

.boxtemas:hover
{
	border-color: yellow;
	cursor: pointer
}

.handselected
{
	color:#0a9145;
}
.selected
{

}
.noselected
{

	color:gray;
}


.number
{
  height: 50px;
  font-size: 24px;
  margin: 5px;
	padding: 5px;
  text-align: middle;
}

.ddsortable li {
  background-color: green;
}

video.bg
{
	display: block;
	left: 0px;
	top: 0px;
	position: absolute;
	z-index: -1000;
}
